<h1>Hello {{user.nickname}}</h1>
        <form name="AddTestForm">
<select  ng-model="survey.replace" ng-options="c.name for c in surveys"><option value="">-- choose survey --</option></select>
<table style="width: 100%">
<tr>
<td style="width: 50%">
<h5>Test (yaml):</h5>
<textarea ng-model="survey.text" class="form-control" rows="20">
---
  name: "Тест на выявление причин ожирения и риска развития осложнений"
  questions:
    -
      type: "edit_text"
      text: "Ваш вес в кг"
    -
      type: "edit_text"
      text: "Ваш рост в сантиметрах"
    -
      text: "Имеют ли Ваши ближайшие родственники избыточную массу тела?"
      answers:
        -
          value: "2"
          text: "Имеет мать"
        -
          value: "3"
          text: "Имеет отец"
        -
          value: "1"
          text: "Имеют оба"
    -
      text: "Ваш завтрак?"
      answers:
        -
          value: "1"
          text: "Нет завтрака (чашка кофе, чая)"
        -
          value: "2,5"
          text: "Бутербродный завтрак"
        -
          value: "2"
          text: "Яичница, колбаса, сосиски, ветчина"
        -
          value: "4"
          text: "Овощной завтрак или фрукты, соки"
        -
          value: "5"
          text: "Каша или творог"
    -
      text: "Объем завтрака?"
      answers:
        -
          value: "0"
          text: "Нет объема"
        -
          value: "3,5"
          text: "200 г и менее"
        -
          value: "2"
          text: "Более 200 г"
    -
      text: "Обед?"
      answers:
        -
          value: "1"
          text: "Нет обеда (перекус)"
        -
          value: "5"
          text: "Мясо или рыба с гарниром до 200 г"
        -
          value: "3"
          text: "200 – 400 г"
        -
          value: "2"
          text: "&gt; 400 г"
        -
          value: "2"
          text: "Мясной бульон"
        -
          value: "5"
          text: "Овощной отвар"
    -
      text: "Ужин?"
      answers:
        -
          value: "4"
          text: "Мясо или рыба с гарниром до 200 г"
        -
          value: "2"
          text: "Мясо или рыба с гарниром 300 – 500 г"
        -
          value: "1"
          text: "Мясо или рыба с гарниром более 500 г"
        -
          value: "2"
          text: "Пельмени менее 200 г"
        -
          value: "1"
          text: "Пельмени более 200 г"
        -
          value: "0"
          text: "Выпечка"
    -
      text: "Как поздно Вы ужинаете?"
      answers:
        -
          value: "4"
          text: "За 3 часа до сна"
        -
          value: "3"
          text: "За 2 часа до сна"
        -
          value: "2"
          text: "За 1 час до сна"
        -
          value: "1"
          text: "Перед сном"
    -
      text: "Принимаете ли пищу ночью?"
      answers:
        -
          value: "1"
          text: "Да"
        -
          value: "4"
          text: "Нет"
    -
      text: "Сколько раз в течение дня принимаете пищу (включая перекусы)?"
      answers:
        -
          value: "1"
          text: "2 раза"
        -
          value: "3"
          text: "3 раза"
        -
          value: "4"
          text: "4 – 5 раз"
    -
      text: "Как часто Вы употребляете кондитерские изделия?"
      answers:
        -
          value: "1"
          text: "Ежедневно"
        -
          value: "2"
          text: "1 раз в неделю"
        -
          value: "3"
          text: "1 раз в месяц"
    -
      text: "Ваши любимые гарниры?"
      answers:
        -
          value: "1"
          text: "Картофель"
        -
          value: "2"
          text: "Макароны или вермишель"
        -
          value: "4"
          text: "Каши"
        -
          value: "5"
          text: "Овощи"
    -
      text: "Как часто Вы едите морскую рыбу и морепродукты?"
      answers:
        -
          value: "5"
          text: "Ежедневно"
        -
          value: "4"
          text: "2 раза в неделю"
        -
          value: "3"
          text: "1 раз в неделю"
        -
          value: "2"
          text: "1 раз в месяц"
        -
          value: "1"
          text: "Не ем"
    -
      text: "Когда Вы ложитесь спать?"
      answers:
        -
          value: "5"
          text: "До 22 часов"
        -
          value: "4"
          text: "До 23 часов"
        -
          value: "3"
          text: "До 24 часов"
        -
          value: "2"
          text: "После 24 часов"
        -
          value: "1"
          text: "После 1 часа ночи"
    -
      text: "Ходите ли Вы пешком ежедневно?"
      answers:
        -
          value: "1"
          text: "Не хожу"
        -
          value: "2"
          text: "Менее 30 мин"
        -
          value: "3"
          text: "От 1 ч до 1,5 ч"
        -
          value: "4"
          text: "2 ч и более"
    -
      text: "Другие физические нагрузки?"
      answers:
        -
          value: "3"
          text: "Работа в саду"
        -
          value: "4"
          text: "Подъем по лестнице"
        -
          value: "5"
          text: "Посещение спортзала"
    -
      text: "Как часто Вы находитесь на свежем воздухе?"
      answers:
        -
          value: "2"
          text: "Менее 1 часа"
        -
          value: "3"
          text: "Более 1 часа"
        -
          value: "4"
          text: "Более 2 часов"
    -
      text: "Каков Ваш сон?"
      answers:
        -
          value: "5"
          text: "Быстро засыпаю, сплю хорошо"
        -
          value: "3"
          text: "С трудом засыпаю, но сплю хорошо"
        -
          value: "2"
          text: "С трудом засыпаю, часто просыпаюсь"
    -
      text: "Насколько психологически комфортна Ваша работа?"
      answers:
        -
          value: "5"
          text: "Комфортна"
        -
          value: "2"
          text: "Не комфортна"
    -
      text: "Как Вы питаетесь на работе?"
      answers:
        -
          value: "2"
          text: "Коллективно"
        -
          value: "4"
          text: "Раздельно"
    -
      text: "Подвержены ли Вы тревоге, депрессии?"
      answers:
        -
          value: "2"
          text: "Да"
        -
          value: "4"
          text: "Нет"
    -
      text: "Проводился ли Вам контроль уровня сахара крови в ближайшее время? Были ли значения сахара выше нормы (> 5,5 ммоль/л)?"
      answers:
        -
          value: "2"
          text: "Да"
        -
          value: "4"
          text: "Нет"
    -
      text: "Испытываете ли Вы сильное чувство жажды?"
      answers:
        -
          value: "5"
          text: "Редко"
        -
          value: "3"
          text: "В жаркое время года"
        -
          value: "2"
          text: "Постоянно"
    -
      text: "Имеется ли у Вас учащенное мочеиспускание?"
      answers:
        -
          value: "5"
          text: "Нет"
        -
          value: "4"
          text: "Только днем"
        -
          value: "1"
          text: "Днем и ночью"
        -
          value: "2"
          text: "Только ночью"
    -
      text: "Имеется ли у Вас раздражение (зуд) в области половых органов?"
      answers:
        -
          value: "2"
          text: "Да"
        -
          value: "4"
          text: "Нет"
    -
      text: "Как часто Вы испытываете головную боль?"
      answers:
        -
          value: "2"
          text: "ежедневно"
        -
          value: "3"
          text: "1 – 2 раза в неделю"
        -
          value: "4"
          text: "реже"
        -
          value: "5"
          text: "не испытываю"
    -
      text: "Характер головной боли?"
      answers:
        -
          value: "2"
          text: "после физ. нагрузки"
        -
          value: "2"
          text: "после стресса"
        -
          value: ""
          text: "в области затылка"
        -
          value: ""
          text: "в области висков"
        -
          value: ""
          text: "разлитая боль"
    -
      text: "Бывает ли загрудинная и боль в области сердца?"
      answers:
        -
          value: "2"
          text: "после физ. нагрузки"
        -
          value: "2"
          text: "после стресса"
        -
          value: "1"
          text: "часто без видимой причины"
    -
      text: "Испытываете ли Вы чувство тревоги, страха?"
      answers:
        -
          value: "3"
          text: "редко"
        -
          value: "2"
          text: "часто"
        -
          value: "5"
          text: "не бывает"
    -
      text: "Бывает ли у Вас шум в голове?"
      answers:
        -
          value: "3"
          text: "редко"
        -
          value: "2"
          text: "часто"
        -
          value: "5"
          text: "не бывает"
    -
      text: "Бывает ли ощущение тошноты, озноба на фоне слабости?"
      answers:
        -
          value: "3"
          text: "редко"
        -
          value: "2"
          text: "часто"
        -
          value: "5"
          text: "не бывает"
</textarea>
</td>
<td rowspan="2">
<h5>Script:</h5>
<textarea ng-model="survey.script" class="form-control" rows="30">
a = answers
res = resource
kg = float(a['0'])
m = float(a['1'])
m = m / 100.0
fat_index = kg / (m * m)
fat_index_pow = 0
if fat_index > 18 and fat_index < 24:
    fat_index_pow = 0
elif fat_index > 25 and fat_index < 30:
    fat_index_pow = 1
elif fat_index > 31 and fat_index < 35:
    fat_index_pow = 2
elif fat_index > 35 and fat_index < 40:
    fat_index_pow = 3
elif fat_index > 40:
	fat_index_pow = 4
if fat_index_pow == 0:
	print res['fat_index_pow_0']
else:
	print res['fat_index'] % res['fat_index_pow_%d' % fat_index_pow]

i = 1
# 1
r = a[str(i)]
i = i + 1
print

# 2
r = 0
for x in xrange(i, i + 10):
    r = r + int(a[str(x)])
    i = i + 1
r = r / 10.0
if r > 1.2 and r < 2.6:
    print res['a2_1']
elif r > 2.6 and r < 3.0:
    print res['a2_2']
elif r > 3.0 and r < 3.5:
    print res['a2_3']
print

# 3
r = 0
for x in xrange(i, i + 8):
    r = r + int(a[str(x)])
    i = i+ 1
r = r / 8.0
if r > 1.8 and r < 2.4:
    print res['a3_1']
elif r > 2.4 and r < 3.0:
    print res['a3_2']
elif r > 3.0 and r < 3.5:
    print res['a3_3']
print

# 4
r = 0
for x in xrange(i, i + 4):
    r = r + int(a[str(x)])
    i = i+ 1
r = r / 4.0
if r > 1.6 and r < 2.0:
    print res['a4_1']
elif r > 2.1 and r < 3.2:
    print res['a4_2']

# 5
r = 0
for x in xrange(i, i + 7):
    r = r + int(a[str(x)])
    i = i+ 1
r = r / 4.0
if r > 1.5 and r < 2.2:
    print res['a5_1']
elif r > 2.3 and r < 3.1:
    print res['a5_2']
elif r > 3.2:
    print res['a5_3']


</textarea>

</td>
</tr>
<tr>
<td>
<h5>Resources:</h5>
<textarea ng-model="survey.resources" class="form-control" rows="10">
fat_index:Ваш индекс массы тела указывает на наличие ожирения %s степени
fat_index_pow_1:1 (> III степени)
fat_index_pow_2:2 (III степень)
fat_index_pow_3:3 (II степень)
fat_index_pow_5:5 (норма)
a2_1:У Вас выявлены грубые нарушения принципов\r\nрационального питания за счет:\r\n- неправильного ритма питания\r\n- неправильного набора продуктов\r\n- избыточного количества пищи в вечернее время
a2_2:У Вас имеются нарушения принципов рационального\r\nпитания за счет:\r\n- превышения объема пищи\r\n- нерегулярного питания\r\n- неправильного набора продуктов
a2_3:У Вас имеются дефекты в питании, которые необходимо\r\nобсуждать индивидуально
a3_1:У Вас практически отсутствует двигательная активность, у Вас имеется психологический дисбаланс, которые являются причиной нарушения пищевого поведения. Необходима консультация психолога, анализ микроэлементного состава по волосам
a3_2:У Вас имеется недостаточная двигательная активность, психологический дискомфорт, нарушение энергетического баланса. Необходима консультация эндокринолога, психолога, анализ микроэлементного состава по волосам
a3_3:Необходимо изменить режим дня и добавить физические нагрузки
a4_1:Риск развития сахарного диабета у Вас составляет 80 %. Кроме того Вам необходимо консультация уролога. Необходимо проверить уровень сахара
a4_2:Риск развития сахарного диабета у Вас составляет 50 %. Необходима консультация уролога для исключения простатита (для мужчин) и нейрогенного мочевого пузыря (для женщин)
</textarea>
</td>
</tr>
</table>
        <button ng-click ="send(survey)">Save</button>

        </form>