<h2><span>{{index+1}}.</span> {{questions[index].text}}</h2>
<div ng-switch="questions[index].type">
    <div ng-switch-when="edit_text">
        <input type="text" name="input" ng-model="$parent.answer"
               required ng-trim="true">
    </div>
    <div ng-switch-default>
        <ul>
            <li ng-repeat="a in questions[index].answers">
                <input type="radio" ng-model="$parent.$parent.answer" required ng-value="{{a.code}}"> {{a.text}}<br/>
            </li>
        </ul>
    </div>
</div>
<div>
    {{index+1}}/{{questions.length}} <a ng-click="next()" ng-hide="index==questions.length-1">Next</a><a ng-click="finish()" ng-show="index==questions.length-1">Finish</a>
</div>

<pre>{{answer}}</pre>
<pre>{{userAnswers|json}}</pre>
