<h1>Hello {{user.nickname}} <a href="/api/user/logout" ng-show="user">logout</a></h1>
<form name="AddTestForm">
    <div class="input-group">
        <select class="form-control" ng-model="survey.code" ng-options="c.code as c.name for c in surveys"
                ng-change="getSurvey(survey.code)">
            <option value="">-- choose survey --</option>
        </select>
      <span class="input-group-btn">
          <button class="btn btn-primary" type="button" ng-click="send(survey)">Save</button>
      </span>
    </div>
    <!--<div class="alert alert-success" ng-hide="error">Все сохранилось</div>-->
    <!--<div class="alert alert-danger" ng-show="error">Что-то не так</div>-->

    <div class="panel panel-default">
        <div class="panel-heading">Test (yaml):</div>
        <div class="panel-body">
            <div ui-ace="{useWrapMode : true,
      showGutter: false,
      mode: 'yaml'}" ng-model="survey.text"></div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Script:</div>
        <div class="panel-body">
            <div ui-ace="{mode: 'python'}" ng-model="survey.script"></div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Resources:</div>
        <div class="panel-body">
            <div ui-ace="{mode: 'yaml'}" ng-model="survey.resources"></div>
        </div>
    </div>


</form>