<h1>Hello {{user.nickname}}</h1>
<form name="AddTestForm">
	<select ng-model="survey.replace" ng-options="c.name for c in surveys"
		ng-change="getSurvey(survey.replace)">
		<option value="">-- choose survey --</option>
	</select>
	<table style="width: 100%">
		<tr>
			<td style="width: 50%">
				<h5>Test (yaml):</h5> <textarea ng-model="survey.text"
					class="form-control" rows="20">
</textarea>
			</td>
			<td rowspan="2">
				<h5>Script:</h5> <textarea ng-model="survey.script"
					class="form-control" rows="30">
</textarea>
			</td>
		</tr>
		<tr>
			<td>
				<h5>Resources:</h5> <textarea ng-model="survey.resources"
					class="form-control" rows="10">
</textarea>
			</td>
		</tr>
	</table>
	<button ng-click="send(survey)">Save</button>

</form>